@import './base.module.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: var(--txt-c);
  line-height: 1;

  @media (max-width: 920px) {
    font-size: 14px;
  }

  @media (max-width: 300px) {
    font-size: 12px;
  }
}

body {
  background-color: var(--bg-c);
}

a,
a:visited {
  color: var(--txt-c);
}

svg {
  fill: var(--txt-c);
  transition: all 0.5s ease;

  &:hover {
    fill: var(--txt-c-h);
  }
}

small {
  color: var(--txt-c-h);
  font-weight: 700;
  text-transform: uppercase;
}

/* Transitions */

.main {
  &-enter-from {
    opacity: 0;
  }

  &-enter-active {
    transition: all 0.2s ease-out;
  }

  &-leave-to {
    opacity: 0;
  }

  &-leave-active {
    transition: all 0.2s ease-in;
  }
}

/* Pseudo-Elements */

::selection {
  background-color: #4f13af33;
}

::-webkit-scrollbar {
  display: none;
}

/* Global Classes */

._container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

._wrapper {
  margin: 6rem auto 4rem auto;

  &.index {
    margin: 10rem auto 0 auto;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--space);
  box-sizing: border-box;
  gap: calc(var(--space) * 2);

  @media(max-width: 920px) {
    margin: 3.75rem auto 0 auto;
  }
}

._skill {
  display: flex;
  align-items: center;
  gap: calc(var(--space) / 2);
  padding: calc(var(--space) / 2);
  transition: var(--transition);
  border-radius: var(--br-rad);

  svg {
    height: 24px;
    width: auto;
  }

  &:hover {
    background-color: var(--accent-c-h) !important;
  }
}

._column {
  display: flex;
  flex-direction: column;
  gap: var(--space);
}

._row {
  display: flex;
  align-items: center;
  gap: var(--space);
}

._center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  transition: var(--transition);
  border-radius: var(--br-rad);

  &:hover {
    background-color: var(--accent-c-h) !important;
  }
}

._br {
  background-color: rgba(128, 128, 128, 0.5);
  width: 1px;
  height: 100%;
}

._btn {
  display: flex;
  gap: 5px;
  align-items: center;
  text-align: center;
  background-color: var(--accent-c);
  padding: var(--space);
  border-radius: var(--br-rad);
  transition: var(--transition);
  cursor: pointer;
  box-sizing: border-box;

  small {
    color: var(--dark-txt-c);
  }

  svg {
    fill: var(--dark-txt-c);
    height: 20px;
    width: auto;
  }

  &:hover {
    background-color: var(--accent-c-h);
  }

  @media (max-width: 600px) {
    svg {
      height: 14px;
    }
  }
}

._stack {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;

  @media (max-width: 920px) {
    justify-content: center;
  }
}

._i {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    min-height: 24px !important;
    height: 24px;
    width: auto;
    cursor: pointer;
  }
}