:root {
    /* body */
    --color-body-bg: #111116;

    /* trigger colors */
    --color-trigger-bg: rgba(255, 173, 0, 0.5);
    --color-trigger-border: #FFAD00;
    --color-trigger-shadow: rgba(255, 173, 0, 0.3);

    /* cube colors */
    --color-cube-sides: #00EEFF;
    --color-cube-top: #E5FDFF;
    --color-cube-border: #fff;
}